<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search</title>
    <link rel="icon" type="image/png" href="img/icon.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <% include ./partials/header%>

        <div id="intro2" class="view hm-black-strong">
            <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 text-center" id="adjust1">
                        <h2 class="display-3 font-bold text-white mb-2">
                            UniRent
                        </h2>
                        <hr class="hr-light">

                        <a class="btn btn-warning btnpad postad" href="signup.html" role="button">Post Ad</a>

                        <h4 class="display-4 text-white my-4">Find Your Apartment Easily</h4>
                    </div>

                </div>
            </div>

        </div>

    </header>


    <main class="mt-5">
        <div class="container">


            <!-- search bar-->
            <div class="left-search">

                <h4>House near universities:</h4>
                <br><br>

                <div class="list-group" id="universityname">
                    <a href="#" class="list-group-item">IUB</a>
                    <a href="#" class="list-group-item">NSU</a>
                    <a href="#" class="list-group-item">AIUB</a>
                    <a href="#" class="list-group-item">DIU</a>
                    <a href="#" class="list-group-item">IUT</a>
                    <a href="#" class="list-group-item">MIST</a>
                    <a href="#" class="list-group-item">NU</a>
                    <a href="#" class="list-group-item">IUBAT</a>
                    <a href="#" class="list-group-item">BUBT</a>
                    <a href="#" class="list-group-item">BUP</a>
                    <a href="#" class="list-group-item">AUB</a>
                    <a href="#" class="list-group-item">EWU</a>

                </div>
            </div>
            <!-- add-->
            <h4 class="pre">Previous Posts:</h4>
            <hr>
            <div class="right-add">
                <!-- images-->

                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h1.jpg" alt="Lights" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>house 1</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h2.jpg" alt="Nature" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 2</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h3.jpg" alt="Fjords" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 3</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h4.jpg" alt="Lights" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>house 4</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h5.jpg" alt="Nature" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 5</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h6.jpg" alt="Fjords" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 6</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h7.jpg" alt="Lights" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>house 7</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h8.jpg" alt="Nature" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 8</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h9.jpg" alt="Fjords" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 9</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>




    </main>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>